<div fxLayout="row">
    <div fxFill>
        Connect with me:
        <ul>
            <li>
                <a href="https://github.com/aniketrai" target="_blank">GitHub(aniketrai)</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/aniketrai2611/" target="_blank">LinkedIn
                </a>
            </li>
            <li>
                <div>
                    <mat-icon aria-hidden="false">email</mat-icon> <span id="email">aniketrai1@yahoo.in</span>
                </div>
            </li>
            <li>
                <div>
                    <mat-icon aria-hidden="false">call</mat-icon> <span id="email">+91-9432370461</span>
                </div>
            </li>
        </ul>
    </div>
</div>