<div fxLayout="row">
    <div fxFill>
        Blogs:
        <ul>
            <li>
                <a href="https://dzone.com/articles/authorization-code-grant-flow-using-angular-6-and"
                    target="_blank">OAuth Implicit flow Using Angular 6 and ASP.NET MVC Core</a>
            </li>
            <li>
                <a href="https://www.c-sharpcorner.com/article/build-and-deploy-asp-net-webapi-using-docker/"
                    target="_blank">Build And Deploy ASP.NET Core WebAPI Using Docker
                </a>
            </li>
        </ul>
    </div>
</div>

<div fxLayout="row" class="connect">
    <div fxFill>
        Connect with me:
    </div>
</div>