div {
  margin-top: 1rem;
  color: white;
}

.details {
  color:#00003f;
}

.heading {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}



mat-panel-title {
  color:#00003f !important;
}

.mindtree-avator {
  background-image: url("../../../../assets/mindtree-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.hach-avator {
  background-image: url("../../../../assets/Hach-Logo.png");
  background-size: cover;
  background-repeat: no-repeat;
}
