<div fxLayout="row">
  <div fxFlex>
    <div class="heading">Work experience</div>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>account_circle</mat-icon>
          Mindtree (<span id="timespan">Jan 2017 - June 2019</span>)
        </mat-panel-title>
        <mat-panel-description> Software Engineer </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        Joined Mindtree as a Fresher. Underwent training for 3 months, later got tagged to CTO group of Mindtree.
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>account_circle</mat-icon>
          Hach (<span id="timespan">June 2019 - Present</span>)
        </mat-panel-title>
        <mat-panel-description> Software Engineer II</mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </div>
</div>
