@import "../../../styles/variables";

.card-section {
  margin: 0.5rem;

  mat-card {
    background-color:$base-color;
    color: white;
    font-family: cursive;
  }

  .avator {
    max-width: 95%;
    border-radius: 50%;
    margin-top: 1.5rem;
  }
}
