@import "../../../styles/variables";

.navigation {
  margin-top: 2rem;
  background-color: $base-color;

  mat-nav-list {
    a {
      color: white;
    }

    mat-icon {
      margin-right: 1rem;
    }
  }
}
