<div fxFill class="navigation">
  <mat-nav-list>
    <a mat-list-item routerLink="/home/" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon> Home
    </a>
    <a mat-list-item routerLink="/work/experience">
      <mat-icon>subject</mat-icon> Experience
    </a>
    <a mat-list-item routerLink="/skills/rating">
      <mat-icon>handyman</mat-icon> Skills
    </a>
    <!-- <a mat-list-item> <mat-icon>menu_book</mat-icon> Education </a>
    <a mat-list-item> <mat-icon>sports_esports</mat-icon> Hobbies </a> -->
  </mat-nav-list>
</div>
