<div fxLayout="column">
  <div fxLayoutAlign="space-around center">
    <div fxFill>
      <img src="../../../assets/selfie.jpg" class="avator" />
    </div>
    <div class="heading">
      <div fxFill class="name">Aniket Rai</div>
      <div fxFill>Full Stack Developer</div>
      <div fxFill>
        <a href="https://www.linkedin.com/company/hach/" target="_blank">Hach</a> a
        <a href="https://en.wikipedia.org/wiki/Danaher_Corporation" target="_blank">Danaher</a> company.
      </div>
    </div>
  </div>
</div>