.avator {
  max-width: 100%;
  border-radius: 50%;
}

.heading {
  .name {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  a {
    color: white;
  }
  margin-top: 1rem;
  text-align: center;
  color: white;
  font-size: 0.9rem;
  padding: 1px;
}

.navigation {
  margin-top: 2rem;
  mat-nav-list {
    a {
      color: white;
    }
  }
}
