<div fxLayout="row">
  <div fxFlex>
    <div class="heading">Work experience</div>
    <mat-card class="work-container">
      <mat-card-header>
        <div mat-card-avatar class="mindtree-avator"></div>
        <mat-card-title>Software Engineer</mat-card-title>
        <mat-card-subtitle
          >Mindtree (<span id="timespan">Jan 2017 - June 2019</span
          >)</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content>
        <div></div>
      </mat-card-content>
    </mat-card>
    <mat-card class="work-container">
      <mat-card-header>
        <div mat-card-avatar class="hach-avator"></div>
        <mat-card-title>Software Design Engineer I</mat-card-title>
        <mat-card-subtitle
          >Hach (<span id="timespan">June 2019 - present</span
          >)</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content>
        <p></p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
