div {
  color: white;
}
.heading {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.work-container {
  margin-bottom: 5rem;
}

.mindtree-avator {
  background-image: url("../../../assets/mindtree-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
}
