<div class="heading">Work experience</div>
<div>
    <mat-card class="work-container">
        <mat-card-header>
            <div mat-card-avatar class="mindtree-avator"></div>
            <mat-card-title>Software Engineer</mat-card-title>
            <mat-card-subtitle>Mindtree</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
               
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="work-container"></mat-card>

</div>