@import "../../../styles/variables";

div {
  margin-top: 0.2rem;
  color: white;
}

.heading {
  font-size: 1.2rem;
  font-family: $default-font-familty;
  margin-bottom: 2rem;
}

mat-divider {
  border-color: white;
  border: 1px solid;
}
