<div fxLayout.gt-sm="row" fxHide fxShow.gt-sm="true">
    <div fxFlexOffset.gt-sm="12"></div>
    <div fxFlex.gt-sm="15" fxFlex="100" class="main">
        <mat-card>
            <app-nav-bar></app-nav-bar>
            <app-nav-bar-menu></app-nav-bar-menu>
        </mat-card>
    </div>
    <div fxFlexOffset.gt-sm="3"></div>

    <div fxFlex.gt-sm="58" fxFlex="100" class="main">
        <mat-card>
            <div class="container">
                <router-outlet></router-outlet>
            </div>
        </mat-card>
    </div>
    <div fxFlexOffset.gt-sm="12"></div>
</div>
<div fxLayout="column" fxShow fxHide.gt-sm="true" class="mobile-view">
    <app-overview-compact-view></app-overview-compact-view>
</div>