mat-card {
  background-color: #4a63e7;
  // height: 80%;

  box-shadow: none !important;
}

.main {
  margin: 1rem 1rem;
  .container {
    height: 100%;
    overflow: hidden;
  }
}

mat-grid-tile {
  background:  #4a63e7;
}

.mobile-view {
  .avator {
    max-width: 15%;
    border-radius: 50%;
    margin-top: 1.5rem;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  mat-toolbar {
    background-color: #4a63e7;
    height: 5rem;
  }
  mat-menu {
    background-color: #4a63e7;
  }
}
