div {
  // text-align: center;
  margin-top: 1.5rem;
  font-size: 1.4rem;
  color: white;
  font-family: 'Times New Roman', Times, serif
}
.heading {
  font-size: 2rem;
}

.connect {
  margin-top: 4rem;
  // margin-bottom: 10px;
}
