<div class="heading">Hi there,</div>
<div>A quick insight about myself.</div>
<div>
  I am a full-stack developer. I work on Microsoft technologies( .Net Core ),
  Service Fabric, Azure and Angular. I am passionate about developing good
  software, writing clean code and adopting new skills.
</div>
<div>I practice CLEAN, DDD and TDD.</div>
<div fxLayout.gt-sm="row" fxLayout="column">
  <div fxFlex="50">
    Certifications:
    <ul>
        <a
          href="https://www.youracclaim.com/badges/4852e0a0-7726-4e2e-82a3-dc9438136f21/public_url"
          target="_blank"
        >
          <img
            src="../../../assets/microsoft-certified-azure-developer-associate.png"
          />
          <br />
          Microsoft Certified:<strong> Azure Developer Associate</strong>
        </a>
    </ul>
    <!-- </div> -->
  </div>
  <div fxFlex>
    Blogs:
    <ul>
      <li>
        <a
          href="https://dzone.com/articles/authorization-code-grant-flow-using-angular-6-and"
          target="_blank"
          >OAuth Implicit flow Using Angular 6 and ASP.NET MVC Core</a
        >
      </li>
      <li>
        <a
          href="https://www.c-sharpcorner.com/article/build-and-deploy-asp-net-webapi-using-docker/"
          target="_blank"
          >Build And Deploy ASP.NET Core WebAPI Using Docker
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="connect">
  <app-connect></app-connect>
</div>
